.summary {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
}

.summary .emptyCart {
  text-align: center;
  font-size: 20px;
  line-height: 85px;
}

.summary .emptyCart button {
  background-color: #fbb03b;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: 10px;
  padding: 9px 73px;
}

.summary .summaryPart1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-row-align: center;
      align-self: center;
  grid-column-gap: 20px;
      grid-template-areas: 'paymentMethod deliveryMethod deliveryAddress';
}

.summary .summaryPart1 .summaryTitle {
  margin-bottom: 20px;
  margin-top: 20px;
}

.summary .summaryPart1 .paymentMethod {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: paymentMethod;
}

.summary .summaryPart1 .paymentMethod .summaryTitle {
  margin-bottom: 20px;
}

.summary .summaryPart1 .paymentMethod .paymentMethodUl {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.summary .summaryPart1 .paymentMethod .paymentMethodUl .paymentType {
  border: 1px solid black;
  padding: 10px 0px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

.summary .summaryPart1 .paymentMethod .paymentMethodUl .paymentType .paymentImage {
  width: 40%;
  margin: 0;
  padding: 0;
}

.summary .summaryPart1 .deliveryMethod {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: deliveryMethod;
}

.summary .summaryPart1 .deliveryMethod .deliveryType {
  text-align: -webkit-center;
}

.summary .summaryPart1 .deliveryMethod .deliveryType .deliveryTypeDetail {
  width: 143px;
  height: 188px;
  text-align: center;
  position: relative;
  padding-top: 43px;
  border: 1px solid;
  border-radius: 20px;
}

.summary .summaryPart1 .deliveryMethod .deliveryType .deliveryTypeDetail img {
  width: 62px;
  height: 35px;
}

.summary .summaryPart1 .deliveryMethod .deliveryType .deliveryTypeDetail .changeDeliveryType {
  position: absolute;
  bottom: -13px;
  right: 40px;
  background-color: #fbb03b;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 10px;
}

.summary .summaryPart1 .deliveryAddress {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: deliveryAddress;
}

.summary .summaryPart1 .deliveryAddress .changeAddress {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid;
  display: inline-block;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 40px;
}

.summary .summaryPart1 .deliveryAddress .changeAddress:active {
  color: #fbb03b;
}

.summary .itemsummry {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: 'detail detail total';
  margin: 50px 0px;
}

.summary .itemsummry .iteamsDetail {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: detail;
}

.summary .itemsummry .iteamsDetail .cartItem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 50px 0px;
}

.summary .itemsummry .iteamsDetail .cartItem li {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.summary .itemsummry .iteamsDetail .cartItem li .cartItemItitle {
  font-size: 14px;
}

.summary .itemsummry .iteamsDetail .cartItem li .cartItemItitle input {
  border: none;
  font-size: 16px;
  font-family: '';
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.summary .itemsummry .iteamsDetail .cartItem li .cartItemId {
  opacity: 0.6;
  font-size: 12px;
}

.summary .itemsummry .iteamsDetail .cartItem li .cartQuantity .productQuantityNumber {
  padding: 2px;
}

.summary .itemsummry .iteamsDetail .cartItem li .cartImage {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.summary .itemsummry .iteamsDetail .cartItem .colorSizeTitle {
  opacity: 0.7;
  margin-right: 20px;
}

.summary .itemsummry .totalPrice {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: total;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.summary .itemsummry .totalPrice .totalCostText {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #f1f1f1;
}

.summary .itemsummry .totalPrice .totalCostText input {
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  width: 62px;
  margin-left: 20px;
  background-color: #f1f1f1;
}

.summary .summaryButton {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  margin-bottom: 50px;
}

.summary .summaryButton .backButton {
  font-size: 16px;
}

.summary .summaryButton .placeOrder {
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #fbb03b;
  display: inline-block;
  border: 1px solid #fbb03b;
}

@media only screen and (max-width: 720px) {
  .summary .summaryPart1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-row-align: start;
        align-self: start;
        grid-template-areas: 'paymentMethod paymentMethod' 'deliveryMethod deliveryAddress';
  }
}

@media only screen and (max-width: 750px) {
  .summary .itemsummry {
        grid-template-areas: 'detail detail detail' '. total total';
  }
  .totalPrice {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}
/*# sourceMappingURL=summary.css.map */