.homepage {
  // background-image: url('/src/image/Logo/heroImage.png');
  background-attachment: fixed;
  background-position: 50% 42%;
  background-repeat: no-repeat;
  color: white;
  fill: white;
  padding-bottom: 6%;

  a {
    color: white;
    fill: white;
  }

  .homePageMain {
    width: 350px;
    margin-left: 21%;
    // margin-top: 10%;

    .saleText {
      font-size: 66px;
      font-weight: bold;
    }
    .shopNowButton {
      margin-top: 5%;
      .shopNowArrow {
        background-color: rgb(251, 176, 59);
        border-radius: 50%;
        padding: 6px 10px;
      }
    }
  }
  .info {
    width: 80%;
    height: 20px;
    background-color: white;
    border-top-right-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: black;
  }
}
.suggestedItem {
  .suggestedImage {
    img {
      width: 100%;
      height: 300px;
    }
  }
}
.chooseUs {
  .chooseUstitle {
    text-align: center;
    font-size: 146%;
    margin-top: 70px;
    margin-bottom: 50px;
  }
  .chooseUsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5%;
    margin-bottom: 100px;
    .chooseUsTitle {
      margin: 10px 0px;
      margin-top: 20px;
    }
    .chooseUsDetail {
      font-size: 13px;
      opacity: 0.5;
    }
  }
}
.subscribe {
  // background-image: url('/src/image/HomepageLogo/subscribe.png');
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6% 4%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;

  .subscribeTitle {
    font-size: 25px;
    color: white;
  }
  .subscribeEmail {
    input {
      padding: 10px 11px 11px 11px;
      border-radius: 22px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      width: 60%;
      max-width: 500px;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }
    button {
      border: 1px solid #fbb03b;
      background-color: #fbb03b;
      padding: 10px 30px;
      border-radius: 20px;
      font-family: 'Poppins', sans-serif;
      margin-left: 5%;
    }
  }
}

@media only screen and(max-width:1050px) {
  .chooseUs {
    .chooseUsGrid {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20%;
      text-align: center;
    }
  }
}
@media only screen and(max-width:920px) {
  .subscribe {
    grid-template-columns: 1fr;

    .subscribeEmail {
      margin-top: 5%;
    }
  }
}
