.SkeletonProductDetailpage {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  font-size: 18px;
  .SkeletonDetailpart div {
    margin-bottom: 30px;
  }
  .colorPart {
    margin-right: 10%;
  }
  .SkeletonColorandsizepart {
    margin-right: 10px;
  }
}
