.favoriteButtonMain {
  .favoriteButton {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
  }
  .favoriteButton:hover {
    background-color: #fbb03b;
  }
}
