//-----------------
$primeryColor: #fbb03b;
//----------------------
.productDetaildescription {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
  .productDetaildescriptionTitle {
    text-align: center;
    border: 1px solid $primeryColor;
    border-radius: 20px;
    color: $primeryColor;
    padding: 10px 30px;
    display: inline-block;
    margin: 50px;
  }
  .description {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 100px;
  }
  .productDetaildescriptionDetail {
    text-align: left;
    line-height: 30px;
  }
  .productDetaildescriptionBold {
    text-align: left;
    line-height: 30px;
  }
}
